body {
    background-color: #AAAAAA;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.grid {
    background-image: url("assets/grass.avif");
    display: grid;
    grid-template-columns: repeat(20, 40px);
    grid-template-rows: repeat(20, 40px);
    border: 1px solid black;
    position: relative;
}

.cell {
    border: 1px solid rgba(0, 0, 0, 0.272);
    width: 40px;
    height: 40px;
}
.coffre{
    background-image: url("assets/treasure.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.rocher{
    background-image: url("assets/rock.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.nain{
    background-image: url("assets/player.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.nain2{
    background-image: url("assets/player.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(100%);
    border: white 1px solid;
}
.success{
    background-color: rgb(0, 6, 128);
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translateX(-50%) translateY(-50%);
    width : 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    border: dashed 3px yellowgreen;
    box-shadow: 10px 20px 50px rgb(50, 63, 205);
    color: whitesmoke;
}
.success.player2{
    border: dashed 3px yellowgreen;
    background-color: red;
    box-shadow: 10px 20px 50px red;
}
button{
    margin-bottom: 10px;
    border-radius: 10px;
    padding : 5px;
    background-color: rgba(0, 128, 0, 0);
    color: white;
}

